/* CSS for fonts and libraries */
body {
    font-family: 'Roboto', sans-serif !important;
    padding-top: 70px;
}

#particles-js-login{
    background: #eeeeee;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:0;
    opacity: 1
}

#particles-js-register{
    background: #eeeeee;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:0;
    opacity: 1
}

#particles-js-main{
    background: #232741;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:0;
    opacity: 1
}

/*  https://stackoverflow.com/questions/33911049/btn-xs-no-longer-a-valid-option-in-bootstrap-4 */
.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
}

/* Main CSS */
.hidden {
    display: none;
}

html.sr .load-hidden {
    visibility: hidden;
}

.imgBackground {
    background-image: url("img/icon.jpg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.loadingImage {
    z-index: 1;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: solid white;
    overflow: hidden;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.navIcon {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: solid white;
}

.loginBox {
    margin-top: 10vh;
}

.registerBox {
    margin-top: 10vh;
}

.newPostBox {
    margin-top: 3vh;
}

.navbar-nav > li{
    padding: 1px 4px;
}

/* CSS for post 'blocks' */
.jumbotron.post {
    padding: 0.5rem 1rem;
    margin-bottom: 10px;
    min-height: 110px;
    /*max-width: 1000px */
}

.container-fluid.postBox {
    margin-top: 3vh;
    max-width: 1800px;
}

.zeroMargin {
    margin: 0px 0px;
}

.postScore {
    display: block;
    margin-bottom: 0px;
    margin-top: 0px;
}

.postPreview {
    display: block;
    padding-left: 50px;
}

.postTitle {
    font-weight: bold;
    margin-bottom: 0;
}

.postUser {
    font-size: small;
    margin-bottom: 0;
}

.postTextPreview {
    /* https://stackoverflow.com/questions/9525215/using-css-can-you-apply-a-gradient-mask-to-fade-to-the-background-over-text */
    -webkit-mask-image: -webkit-gradient(linear, left 0%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}

.postImagePreview {
    max-height: 400px;
    max-width: 100%;
    padding-bottom: 5px;
}

.postLinkPreview {

}

.postSeparator{

    margin: 10px 20px;
    border-top: 2px solid #999999;
}

.comment {
    min-height: 65px;
}


.commentContent {
    display: block;
    padding-left: 50px;
}


/* Voting Buttons */
/* https://stackoverflow.com/questions/4274489/how-can-i-make-an-upvote-downvote-button */
.upvote {
    display: block;
    overflow: hidden;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background: url("img/vote.png") 0 -25px;
}


.upvote.on {
    background-position: 0 2px;
}

.downvote {
    display: block;
    overflow: hidden;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background: url('img/vote.png') 0 -25px;
    transform: rotate(180deg);
}

.downvote.on {
    background-position: 0 2px;
}

.voteButtons {
    float: left;
}